body {
    margin: 50px 0;
}
header {
    width: 990px;
    height: 94px;
    margin: 0 auto;
}
/* 头部外框 */
.wrap {
    width: 100%;
    height: 60px;
    padding: 14px 0 20px 0;
}
/* logo */
.wrap .logo {
    width: 303px;
    height: 60px;
    float: left;
}
.wrap .logo .pic-logo {
    display: block;
    float: left;
    width: 130px;
    height: 60px;
}
.wrap .logo .title {
    height: 44px;
    line-height: 44px;
    float: left;
    margin: 8px 0 0 8px;
    border-left: 1px solid #e6e6e6;
    color: #666666;
    padding-left: 10px;
    font-size: 14px;
    text-align: center;
}

/* 已有账户登录 */
.wrap .login-bar{
    float: right;
    height: 22px;
    padding: 21px 0 0;
    font-size: 14px;
}
.wrap .login-bar p {
    float: left;
    line-height: 22px;
}
.wrap .login-bar a {
    float: right;
    color: #c00;
    padding: 3px 10px;
    height: 16px;

}

/* 注册内容区 */
.registry-wrap{
    width: 980px;
    border: 1px solid #e6e6e6;
    margin: 0 auto;
    padding-bottom: 100px; 
}
/* 标题 */
.header-title {
    width: 890px;
    padding: 16px 0 16px 90px;
    background: #fafafa;
    font-size: 18px;
    color: #999;
    text-align: center;
}
/* 表单 */
 #registry-form{
    width: 500px;
    padding: 30px 0 0 89px;
    background: #fff;
}
/* 表单切换 */
#registry-form .registry-tab{
    width: 100%;
    height: 39px;
    border-bottom: 1px solid #e6e6e6;
}
#registry-form .registry-tab .phone {
    width: 50%;
    height: 36px;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    margin-bottom:-1px;
    padding:  0 0 2px;
    border-top: 2px solid #e02d2d;
    text-align: center;
    background: #fff;
}
#registry-form .registry-tab .phone span {
    display: inline-block;
    font-size: 18px;
    color: #c00;
    line-height: 36px;
    padding: 0 0 0 20px;
    background: url(../img/login-bg.png) -158px -235px no-repeat;
}
/* 注册内容 */
#registry-form .registry-phone {
    width: 100%;
    padding-top: 30px;
}
#registry-form .registry-phone li {
    width: 417px;
    height: 40px;
    padding-left: 83px;
    margin-bottom: 42px;
    position: relative;
}
#registry-form .registry-phone li label {
    width: 83px;
    height: 41px;
    font-size: 14px;
    text-align: right;
    line-height: 41px;
    color: #666;
    position: absolute;
    top: 0;
    left: 0;
}
#registry-form .registry-phone li label i {
    padding: 0 7px 0 0;
    color: #f30;
    font-size: 12px;
}
#registry-form .registry-phone li input{
    width: 278px;
    height: 22px;
    padding: 8px 5px;
    outline: none;
    border: 1px solid #ccc;
}
/* 错误提示 */
#registry-form .registry-phone li .wrong-title{
    color: #ff3333;
    font-size: 12px;
    background: url(../img/login-bg.png) -155px -184px no-repeat;
    padding: 0 0 0 20px;
    position: absolute;
    left: 383px;
    top: 0;
    height: 40px;
    display: block;
    line-height: 40px;
    white-space: nowrap;
    display: none;
}
#registry-form .registry-phone li .tip{
    display: block;
    font-size: 12px;
    color: #aaa;
    padding-top: 10px;
}
/* 验证码 */
#code{
    display: inline-block;
    width: 108px;
    height:40px;
    background: #f8f8f8;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}
/* 同意协议 */
#registry-form .agree {
    width: 417px;
    height: 32px;
    padding-left: 83px;
    text-align: center;
}
#registry-form .agree .chose {
    vertical-align: middle;
    margin-right: 8px;
}
#registry-form .agree a{
    color: #134ba0;
    font-size: 12px;
}
/* 提交按钮 */
#registry-form .submit-btn{
    width: 290px;
    height: 40px;
    margin: 20px 0 0 83px;
    color: #fff;
    border: 0;
    background: rgb(204, 204, 204);
    font-size: 14px;
    background: url(../img/bg.png) no-repeat;
}

/* 底部 */
footer {
    height: 18px;
    margin-top: 50px;
    padding: 12px 0 25px;
    border-top: 1px solid #dcdcdc;
}
.footer-wrap {
    width: 990px;
    height: 18px;
    margin: 0 auto;
}
.footer-wrap .about{
    color: #ccc;
    float: left;
}
.footer-wrap .about a{
    margin: 0 10px;
    color: #666;
}
.footer-wrap p{
    float: right;
    color: #666;
}